body {
    margin: 0;
  }
  .container {
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    text-align: justify;
  }
  
  /* form {
    text-align: justify;
    border-radius: 10px;
    background-color: yellowgreen;
    padding: 40px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.548);
  }
  h1 {
    text-align: center;
    padding-left: 15%;
  } */
  .title{
    text-align: center;
    padding-right: 15%;
  }
  
  
.logo{
    width: 100px;
}
.flipkart-logo{
    width: 100px;
}
.counter{
    width: 500px;
    border: 1px solid #111;
    margin: 0 auto;
    padding: 15px;
}
.navbar{
    width: 500px;
    border: 1px solid royalblue;
    color:rebeccapurple ;
    margin: 0 auto;
    padding: 15px;

}
.counting{
    width: 50 px;
    border: 1px solid #111;
    margin: 0 auto;
    padding: 1px;
}
